<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlowMeter</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/flow.css">
    <script src="/static/js/flow.js"></script>
</head>

<body>
    <div class="header">
        <a href="/">Flow</a>
    </div>

    <div id="content" class="container">
        <!-- 网络设备选择 -->
        <div id="device">
            <p>请选择网络设备</p>
            <hr>
            <form>
                <select id="device-index" onchange="selectDevice()">
                    {% for device in device_list %}
                    <option value="{{ device.index }}">{{ device.description }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <!-- 网络流量 -->
        <div id="traffic">
            <!-- 流量数据展示 -->
            <div id="traffic-display">
                <!-- 流量数据折线图 -->
                <div id="traffic-chart"></div>

                <!-- 流量数据值 -->
                <div id="traffic-values">
                    <div>
                        <span>实时下载速度：</span>
                        <span id="real-time-download">0</span>
                        <span>B/s</span>
                    </div>
                    <div>
                        <span>实时上传速度：</span>
                        <span id="real-time-upload">0</span>
                        <span>B/s</span>
                    </div>
                    <div>
                        <span>历史下载总量：</span>
                        <span id="history-download">0</span>
                        <span>B</span>
                    </div>
                    <div>
                        <span>历史上传总量：</span>
                        <span id="history-upload">0</span>
                        <span>B</span>
                    </div>
                </div>
            </div>

            <!-- 流量数据分析 -->
            <div id="traffic-analysis">
                <div>
                    <span>地点分析</span>
                    <div>
                        <span>top下载地址：</span>
                        <span id="top-download-addresses"></span>
                    </div>
                    <div>
                        <span>top上传地址：</span>
                        <span id="top-upload-addresses"></span>
                    </div>
                </div>
                <div>
                    <span>地点图</span>
                </div>
                <div>
                    <span>域名分析</span>
                    <div>
                        <span>top下载域名：</span>
                        <span id="top-download-names"></span>
                    </div>
                    <div>
                        <span>top上传域名：</span>
                        <span id="top-upload-names"></span>
                    </div>
                </div>
                <div>
                    <span>性质分析</span>
                </div>
                <div>
                    <span>突发流量分析</span>
                    <div>
                        <span>top突发流量：</span>
                        <span id="top-burst"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        高等计算机网络与通信 2021
        &emsp;&emsp;&emsp;&emsp;
        开发者：林欣、吴星辉
    </div>

    <script>
        plotRealTimeTrafficChart();
    </script>
</body>

</html>