<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlowMeter</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/flow.css">
    <script src="/static/js/flow.js"></script>
</head>

<body>
    <div class="header">
        <a href="/">FlowMeter</a>
    </div>

    <div id="content" class="container-fluid">
        <!-- 网络设备选择 -->
        <div id="device">
            <form>
                <select id="device-index" onchange="selectDevice()">
                    <option value="-1">请选择网络设备</option>
                    {% for device in device_list %}
                    <option value="{{ device.index }}">{{ device.description }}</option>
                    {% endfor %}
                </select>
            </form>
            <hr>
        </div>

        <!-- 网络流量 -->
        <div id="traffic">
            <!-- 流量数据展示 -->
            <div id="traffic-display">
                <!-- 流量数据折线图 -->
                <div id="traffic-chart"></div>

                <!-- 流量数据值 -->
                <div id="traffic-values">
                    <div id="real-time-download-dashboard" class="dashboard"></div>
                    <div id="real-time-upload-dashboard" class="dashboard"></div>
                    <div class="history">
                        <span>历史下载总量：</span>
                        <span id="history-download">0</span>
                        <span>B</span>
                    </div>
                    <div class="history">
                        <span>历史上传总量：</span>
                        <span id="history-upload">0</span>
                        <span>B</span>
                    </div>
                </div>
            </div>

            <!-- 流量数据分析 -->
            <div id="traffic-analysis">
                <div>
                    <table id="address-analysis" class="table table-dark table-striped table-sm" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>地点分析</th>
                                <th>top下载地址</th>
                                <th>top上传地址</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div>
                    <table id="name-analysis" class="table table-dark table-striped table-sm" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>端口分析</th>
                                <th>top下载端口</th>
                                <th>top上传端口</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div>
                    <table id="burst-analysis" class="table table-dark table-striped table-sm" style="text-align: center;">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle;">突发流量分析</th>
                                <th style="vertical-align: middle;">源IP地址</th>
                                <th style="vertical-align: middle;">目的IP地址</th>
                                <th style="vertical-align: middle;">下载/上传</th>
                                <th style="vertical-align: middle;">流量大小</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        高等计算机网络与通信 2021
        &emsp;&emsp;&emsp;&emsp;
        开发者：林欣、吴星辉
    </div>

    <script>
        plotRealTimeTrafficChart();
    </script>
</body>

</html>